<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            Taxes All
            <hr>
            <div class="form-group">
                <label for="amount">Importe</label>
                <input type="text" class="form-control" id="amount" ng-model="vm.amount" placeholder="0.00">
            </div>
            <select class="form-control"
            id="selectTax" 
            ng-model="vm.selectedTax" 
            ng-options="tax.tax_name for tax in vm.taxes | orderBy:'tax_rate_id'" 
            ng-click="vm.addselect()">
            <option value="">Selecciona impuesto</value>
            </select>
            <hr>
            <p ng-repeat="tax in vm.taxes">
                {{tax.tax_name}} {{tax.tax_rate_percent}}
            </p>
        </div>
        <div class="col-sm-6">
            Taxes Selected:
            <h3 ng-repeat="tax in vm.post.taxes"><span class="label label-primary">{{tax.tax_name}} <small>{{tax.tax_rate_percent}} %</small> {{tax.amount | currency}} <a href ng-click="vm.removeselect(tax)"><i class="fa fa-times"></i></a> </span></h3>
        </div>
    </div>
</div>